<div class="posts container py-3">
    {{ if .Site.Params.footer.recentPosts }}
    <div class="h3 text-center text-light py-3 font-weight-bold">Recent posts</div>
    <div class="row justify-content-center">
        {{ range ( where .Site.RegularPages "Type" "blog" | first 3 ) }}
        <div class="col-lg-4 col-md-6 pt-2">
            <a href="{{ .RelPermalink }}" class="post-card-link">
                <div class="card px-2 h-100">
                    <div class="card-head py-3">
                        <h5 class="card-title font-weight-bold px-2">{{ .Title }}</h5>
                        <p class="card-text px-2"> {{ .Summary | truncate 300}}</p>
                    </div>
                    <div class="mt-auto card-footer">
                        <span class="float-start">{{ .Date.Format "January 2, 2006" }}</span>
                        <a href="{{ .RelPermalink }}" class="float-end btn btn-outline-info btn-sm">Read</a>
                    </div>
                </div>
            </a>
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>