<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <div class="container py-2">
        <a class="navbar-brand font-weight-bold" href="{{ .Site.BaseURL | relURL }}">
            {{ if .Site.Params.favicon }}
            <img src="{{ .Site.Params.favicon }}" width="30" height="30" class="d-inline-block align-top">
            {{ .Site.Title }}
            {{ else }}
            {{ .Site.Title }}
            {{ end }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto text-center">
                {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <!-- Dropdown menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ .URL }}" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ .Title }}">
                        {{ .Name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{ range .Children }}
                        <a class="dropdown-item" href="{{ .URL }}" title="{{ .Title }}">
                            {{ .Name }}</a>
                        {{ end }}
                    </div>
                </li>
                {{else}}
                <!-- Single menu item -->
                <li class="nav-item">
                    <a class="nav-link" href="{{.URL}}" title="{{ .Title }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                {{end}}
                {{end}}
            </ul>
        </div>
    </div>
</nav>