<!DOCTYPE html>
<html>

<head>
    {{- partial "head.html" . -}}
    {{- block "head" . }} {{- end }}
    <title>
        {{- block "title" . }} {{- end }}
    </title>
</head>

<body>
    <!-- javascripts -->
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    {{- partial "sections/header.html" . -}}
    <div id="content">
        {{- block "main" . }}{{- end }}
    </div>
    {{- partial "sections/footer/index.html" . -}}
</body>

</html>