<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" href={{ .Site.Params.favicon | default "/images/fav.png" }} type="image/gif">

<!-- Color -->
{{/* {{ $color := resources.Get "scss/color.scss" | toCSS | minify }}
<link href="{{ $color.RelPermalink }}" rel="stylesheet" /> */}}

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Roboto:ital,wght@0,300;1,300&display=swap"
    rel="stylesheet">

<!-- Internal templates -->
{{ template "_internal/google_analytics.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

<!-- stylesheets -->
<link rel="stylesheet" href="/css/bootstrap.min.css" media="all">
<link rel="stylesheet" href="/css/footer.css" media="all">

<!-- Custom Styles -->
{{ if .Site.Params.customCSS }}
<link rel="stylesheet" href="/style.css">
{{ end }}

<!-- Common styles -->
<style>
    *,
    ::after,
    ::before {
        font-family: "Alata", sans-serif;
    }
</style>